{% extends 'base.html.twig' %}

{% block title %}Tous les produits du site{% endblock %}

{% block body %}
    <main class="all-products js-filter">
        <div class="filter-categorie js-filter-form">
            <p>filtres</p>
            <form id="filters" class="filter-categorie_form">
                {% for categorie in allCategories %}
                    <input type="checkbox" name="categories[]" id="cat{{ categorie.id }}" value="{{ categorie.id }}">
                    <label for="cat{{ categorie.id }}">{{ categorie.name }}</label>
                {% endfor %}
                {% include 'all_products/_formPrice.html.twig' %}
            </form>
        </div>
        <div class="products js-filter-content" id="content" >
            {% include('all_products/_allTheProducts.html.twig') %}
        </div>
    </main>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('js/filters.js') }}"> </script>
 {% endblock %}