{% extends 'base.html.twig' %}

{% block title %}Tous les produits du site{% endblock %}

{% block body %}
        <div class="filter-categorie">
                <p>filtres</p>
            <form id="filters">
                {% for categorie in allCategories %}
                    <input type="checkbox" name="categories[]" id="cat{{ categorie.id }}" value="{{ categorie.id }}">
                    <label for="cat{{ categorie.id }}">{{ categorie.name }}</label>
                {% endfor %}
            </form>
        </div>
        <div class="products" id="content">
            {% include('all_products/_allTheProducts.html.twig') %}
        </div>
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('js/filters.js') }}"> </script>
 {% endblock %}