{% extends 'base.html.twig' %}

{% block title %}Tous les produits du site{% endblock %}

{% block body %}
    <main class="all-products">
        <div class="filter-categorie">
            <p>filtres</p>
            <form id="filters" class="filter-categorie_form">
                <div class="filter-categorie_form_categorie">
                    {% for categorie in allCategories %}
                        <div class="filter-categorie_form_categorie_twoItems">
                            <input type="checkbox" name="categories[]" id="cat{{ categorie.id }}" value="{{ categorie.id }}" class="input-filtres">
                            <label for="cat{{ categorie.id }}" class="label-filtre">{{ categorie.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                {% include 'all_products/_formPrice.html.twig' %}
            </form>
        </div>
        <div class="products js-filter-content" id="content" >
            {% include('all_products/_allTheProducts.html.twig') %}
        </div>
    </main>
{% endblock %}
{% block javascripts %}
     <script src="{{ asset('js/filters.js') }}"> </script>
{% endblock %}