{% extends "base.html.twig" %}

{% block title %}{{ products.name }}{% endblock %}

{% block body %}
        <h1>detail de {{ products.name }}</h1>
                        <div class="carousel-inner">
{#                            <img src="{{ asset('build/images/jamorant.webp') }}" alt="">#}
                        </div>
        <div class="col-6">
                <p>{{ products.description }}</p>
                <p>Catégorie: {{ products.categories.name }}</p>
                <p class="card-text">prix: {{ products.price/100}} euros </p>
                <button>Ajouter au panier</button>
        </div>
{% endblock %}