{% extends "base.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <main class="product">
        <h1>detail de {{ product.name }}</h1>
                <div class="product-card">
{#                    {% for image in product.images  %}#}
{#                        <img class="product-Image" src="{{ asset('build/images/products/') ~ image.name}}" alt="{{ image.alt }}">#}
{#                    {% endfor %}#}
                    <img class="product-Images" src="{{ asset('build/images/products/') ~ product.imagePath}}" />
                        <div class="product-card__detail">
                                <p class="product-card__detail__description">{{ product.description }}</p>
                                <p class="product-card__detail__categorie">Catégorie: {{ product.categories.name }}</p>
                                <p class="product-card__detail__price">prix: {{ product.price / 100}} euros </p>
                            <label for="pet-select">Choisissez une taille</label>
                            <select name="pets" id="pet-select">
                                <option value="">Choisis une option</option>
                                {% for size in product.sizes %}
                                    <option value="">{{ size.name }}</option>
                                {% endfor %}
                            </select>
                                <button><a href="{{ path('cart_add', {id: product.id}) }}">Ajouter au panier</a></button>
                        </div>
                </div>
    </main>
{% endblock %}