{% extends 'base.html.twig' %}

{% block title %}Produits détaillés{% endblock %}

{% block body %}
    <section>
    <div class="container">
        <div class="product-header">
            <h1> Tous les produits de </h1>
            {% if is_granted ("ROLE_SUPER_ADMIN") %}
                <a href="{{ path('admin_products_add') }}" class="btn btn-primary">Ajout</a>
            {% endif %}
        </div>
        <div class="l-container__cardProduct">
            {% for product in products %}
                <div class="b-game-cardProduct">
                    <div class="b-game-cardProduct__coverProduct ">
                            <img class="product-Images" src="{{ asset('build/images/products/') ~ product.imagePath}}">
                        <br>
                        <p>{{ product.name }}</p>
                        <p> prix: {{ product.price / 100 }} euros</p>
                        {% if is_granted ("ROLE_SUPER_ADMIN") %}
                            <a href="{{ path('admin_products_edit', {id: product.id}) }}">Modifier</a>
                            <a href="{{ path('admin_products_delete', {id: product.id}) }}">Supprimer</a>
                        {% endif %}
                        <div class="showproduct">
                            <a href="{{ path('products_details', {slug: product.slug}) }}">Voir le produit </a>
                            {% if app.user %}
                                <a href="{{ path('cart_add', {id: product.id}) }}" class="btn-add"><i class="fa-solid fa-cart-shopping"></i> </a>
                            {% else %}
                                <a href="{{ path('app_register') }}" class="btn-add"><i class="fa-solid fa-cart-shopping"></i> </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}
