{% extends 'base.html.twig' %}

{% block title %}Produits détaillés{% endblock %}

{% block body %}
   <h1> Tous les produits </h1>
    {{ dump() }}
   {% for product in products %}
         {{ product.name }}
       {{ product.description }}
         {{ product.price / 100 }}
       <a href="{{ path('products_details', {slug: product.slug}) }}">Voir le produit </a>
   {% endfor %}
{% endblock %}
