{% extends 'base.html.twig' %}

{% block title %}Produits détaillés{% endblock %}

{% block body %}
   <h1> Tous les produits </h1>
            <div class="l-container__cardProduct">
                {% for product in products %}
                <div class="b-game-cardProduct">
                    <div class="b-game-cardProduct__coverProduct">
                          {{ product.name }}
                          <br>
                          <br>
                          {{ product.description }}
                           <br>
                          <p> prix: {{ product.price }} euros</p>
                          <a href="{{ path('products_details', {slug: product.slug}) }}">Voir le produit </a>
                        {% if app.user %}
                          <a href="{{ path('cart_add', {id: product.id}) }}" class="btn"> Ajouter au panier </a>
                        {% else %}
                            <a href="{{ path('app_register') }}" class="btn"> Ajouter au panier </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}
