{% extends 'base.html.twig' %}

{% block title %} {{ maincategories.name}} {% endblock %}

{% block body %}
        <section class="categories-section ">
                {% if is_granted ('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('admin_categories_add') }}" class="bouton-add-categorie mx-5"><i class="fa-solid fa-plus"></i> une catégorie</a>
                {% endif %}
                <div class="categoriesProducts">

                        {% for cate in detailCatMain %}
                        <div class="b-game-card">
                                <div class="b-game-card__cover">
                                        <h2>{{ cate.name }}</h2>
                                        <a href="{{ path('products_categorie_id', {id: cate.id}) }}">Voir les produits correspondant à {{cate.slug}} </a>
                                </div>
                        </div>
                        {% endfor %}
                </div>
        </section>
{% endblock %}