
<header>
    <nav class="navigation">
        <a href="{{ path('app_home_index') }}" class="logo">HOOP'S LIFE</a>
            <div class="nav-links mobile">
                <ul>
                    <li class="active"><a  class="nav-a"href="{{ path('app_home_index')}}"><i class="fa-solid fa-house"></i></a></li>
                        <li><a class="nav-a" href="{{ path('app_all_products_index')}}">les produits</a></li>
                        {% if app.user %}
                          <li><a  class="nav-a"href="{{ path('app_logout') }}">Déconnexion</a></li>
                                {% else %}
                           <li><a class="nav-a" href="{{path('app_login')}}">Connexion</a></li>
                           <li><a  class="nav-a"href="{{path('app_register')}}">Inscription</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li><a class="nav-a" href="{{ path('cart_index') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                                {% else %}
                            <li><a class="nav-a" href="{{ path('app_login') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                        {% endif %}
                </ul>
            </div>
        <img class="menu-hamburger" src="{{ asset('build/images/ballon-de-basket.png') }}" alt="menu burger pour ecran de 1000px ">
    </nav>
</header>