{#<header>#}
{#    <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top">#}
{#        <div class="container navbar-container">#}
{#            <div class="navbar-header">#}
{#                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#                    <span class="sr-only">Toggle navigation</span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                </button>#}
{#                <a class="navbar-brand" href="{{ path('app_home_index') }}">Hoop's life</a>#}
{#            </div>#}
{#            <div id="navbar" class="navbar-collapse collapse">#}
{#                <ul class="nav navbar-nav navbar-right">#}
{#                    <li><a href="{{ path('app_home_index')}}">Home</a></li>#}
{#                    <li><a href="{{ path('app_all_products_index')}}">les produits</a></li>#}
{#                        {% if app.user%}#}
{#                            <li><a href="#portfolio">Mon Compte</a></li>#}
{#                            <li><a href="#contact">Déconnexion</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="#blog">Connexion</a></li>#}
{#                            <li><a href="#blog">Inscription</a></li>#}
{#                        {% endif %}#}
{#                    {% if app.user %}#}
{#                    <li><a href="{{ path('cart_index') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>#}
{#                    {% else %}#}
{#                    <li><a href="{{ path('app_login') }}"><i class="fa-solid fa-cart-shopping"></i></a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{#</header>#}

<header>
    <nav class="navigation">
        <a href="" class="logo">HOOP'S LIFE</a>
            <div class="nav-links mobile">
                <ul>
                    <li class="active"><a href="{{ path('app_home_index')}}">Accueil</a></li>
                    <li><a href="">Mon Compte</a></li>
                    <li><a href="">Déconnexion</a></li>
                    <li><a href="">Connexion</a></li>
                    <li><a href="">Inscription</a></li>
                </ul>
            </div>
        <img class="menu-hamburger" src="{{ asset('build/images/ballon-de-basket.png') }}" alt="menu burger pour ecran de 1000px ">
    </nav>
</header>